# Игнорируем директории и файлы разработки
node_modules
npm-debug.log
dist
build
.git
.github
.husky
.vscode
.idea
.DS_Store
*.log
*.swp
*.swo
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Документация
*.md
!README.md

# Тесты
__tests__
*.test.*
*.spec.*

# Прочее
temp
logs
coverage
app/*.js